[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "ccg"
version = "2.0.0"
description = "Conventional Commits Generator - A tool to create standardized commit messages"
readme = "README.md"
requires-python = ">=3.7"
license = {file = "LICENSE"}
authors = [
    {name = "Egydio Bolonhezi", email = "egydiobolonhezi@gmail.com"}
]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "Natural Language :: English",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Version Control :: Git",
]
keywords = ["git", "commit", "conventional-commits", "developer-tools"]
dependencies = [
    "prompt_toolkit >= 3.0.0"
]

[project.optional-dependencies]
dev = [
    "pre-commit>=3.3.0",
    "prompt_toolkit >= 3.0.0"
]

[project.urls]
Homepage = "https://github.com/EgydioBNeto/conventional-commits-generator"
Issues = "https://github.com/EgydioBNeto/conventional-commits-generator/issues"

[project.scripts]
ccg = "ccg.cli:main"

[tool.hatch.build.targets.wheel]
packages = ["src/ccg"]
