name: Labeler
on: [pull_request_target]

permissions:
  contents: read
  pull-requests: write

jobs:
  label:
    name: Auto-label Pull Requests
    runs-on: ubuntu-latest
    steps:
    - name: checkout
      uses: actions/checkout@v5
    - name: labeler
      uses: actions/labeler@v6
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        sync-labels: true
